@import "../../styles/variables.scss";

.captureButton,
.closeButton {
  color: $primary-color;
  font-size: 1.5rem;
  background-color: $secondary-color;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  &:hover {
    background-color: #540505;
  }
}

.webcam {
  border-radius: 3rem;
}
